* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: getColour(background);
}


.border-primary {
    border: 3px solid getColour(primary) !important;
}

.bg-primary {
    background: getColour(primary) !important;
}