$colours: (
    white: #FFFFFF,
    primary-text: #6a6a6a,
    light-grey: #e2e2e2,
    background : #e5e5e5,
    anchor-text: #8d8d8d,
    primary: #C32C72,
    alt-white: #F4F3EE,
);

@function getColour($colour) {
    @return map-get($colours, $colour);
}